In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('rolling_raw.csv', encoding='Latin-1')

# Preparación rolling_500

In [3]:
df.head()

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock

In [4]:
df.columns = ['id', 'year', 'album', 'artist', 'genre', 'subgenre']

In [5]:
len(df.id.unique())

500

Revisión de valores nulos. Solo observamos 29 valores nulos en 'subgenre'. Decidimos rellenar estos items con el valor de 'genre'

In [6]:
df['subgenre'].fillna(df['genre'], inplace=True)

In [7]:
df.isnull().sum()

id          0
year        0
album       0
artist      0
genre       0
subgenre    0
dtype: int64

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [id, year, album, artist, genre, subgenre]
Index: []

Observamos que no quedan valores nulos ni filas duplicadas. Exportamos este data frame para que nos sirva posteriormente como elemento de comparación del inventario de 7pulgadas

In [9]:
df.to_csv('rolling_clean.csv', index=False)